@charset "UTF-8";

* {
    margin: 0px;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#iphone {
    width: 310px;
    height: 620px;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    margin: auto;
    position: absolute;
    background-image: url('../imagens/frame-iphone.png');
    background-position: center center;
    background-size:cover;
    background-attachment: fixed;

}

iframe {
    position: relative;
    top: 80px;
    left:25px ;
    width: 260px;
    height: 470px;
    
}
